.main-header:not(.home-header), .home, .categories-page, .product-details-page, .contact-us .contact-info, .faq, .privacy-policy, .member, .cart {
  padding: 6em 0;
}

.main-footer h3:after {
  border-bottom: 1px solid #A7C6D9;
}

.main-header.home-header .carousel-caption button, .home .products .product button.primary, .categories-page .products .product button.primary, .product-details-page .recommended-products .product button.primary, .about-us .item button.primary, .categories-page .categories .category button.primary, .contact-us .contact-info .contact-form button, .member form .primary-button, .home .products .product button.secondary, .categories-page .products .product button.secondary, .product-details-page .recommended-products .product button.secondary, .about-us .item button.secondary, .categories-page .categories .category button.secondary {
  margin: auto;
  width: 120px;
  border-radius: 7px;
  transition: all 0.25s ease-in-out;
}
.main-header.home-header .carousel-caption button a, .home .products .product button.primary a, .categories-page .products .product button.primary a, .product-details-page .recommended-products .product button.primary a, .about-us .item button.primary a, .categories-page .categories .category button.primary a, .contact-us .contact-info .contact-form button a, .member form .primary-button a, .home .products .product button.secondary a, .categories-page .products .product button.secondary a, .product-details-page .recommended-products .product button.secondary a, .about-us .item button.secondary a, .categories-page .categories .category button.secondary a {
  display: block;
  padding: .5em 0;
}

.main-header.home-header .carousel-caption button, .home .products .product button.primary, .categories-page .products .product button.primary, .product-details-page .recommended-products .product button.primary, .about-us .item button.primary, .categories-page .categories .category button.primary, .contact-us .contact-info .contact-form button, .member form .primary-button {
  background-color: #A7C6D9;
  border: 1px solid #A7C6D9;
  font-size: 14px;
}
.main-header.home-header .carousel-caption button a, .home .products .product button.primary a, .categories-page .products .product button.primary a, .product-details-page .recommended-products .product button.primary a, .about-us .item button.primary a, .categories-page .categories .category button.primary a, .contact-us .contact-info .contact-form button a, .member form .primary-button a {
  color: white;
}
.main-header.home-header .carousel-caption button:hover, .home .products .product button.primary:hover, .categories-page .products .product button.primary:hover, .product-details-page .recommended-products .product button.primary:hover, .about-us .item button.primary:hover, .categories-page .categories .category button.primary:hover, .contact-us .contact-info .contact-form button:hover, .member form .primary-button:hover {
  background-color: #608BA6;
  border-color: #608BA6;
}
.main-header.home-header .carousel-caption button:hover a, .home .products .product button.primary:hover a, .categories-page .products .product button.primary:hover a, .product-details-page .recommended-products .product button.primary:hover a, .about-us .item button.primary:hover a, .categories-page .categories .category button.primary:hover a, .contact-us .contact-info .contact-form button:hover a, .member form .primary-button:hover a {
  color: white;
}

.home .products .product button.secondary, .categories-page .products .product button.secondary, .product-details-page .recommended-products .product button.secondary, .about-us .item button.secondary, .categories-page .categories .category button.secondary {
  background-color: transparent;
  border: none;
}
.home .products .product button.secondary a, .categories-page .products .product button.secondary a, .product-details-page .recommended-products .product button.secondary a, .about-us .item button.secondary a, .categories-page .categories .category button.secondary a {
  color: #A7C6D9;
  text-decoration: underline;
}
.home .products .product button.secondary:hover a, .categories-page .products .product button.secondary:hover a, .product-details-page .recommended-products .product button.secondary:hover a, .about-us .item button.secondary:hover a, .categories-page .categories .category button.secondary:hover a {
  color: #D98236;
}

/* start global */
body {
  background-color: whitesmoke;
  overflow-x: hidden;
  color: #2d2d2d;
}

a:hover {
  text-decoration: none;
}

*:focus {
  outline: none;
}

select {
  border-color: gray;
  border-radius: 4px;
  color: gray;
  padding: 2px;
}

/* end global */
/* my framework */
.upper {
  text-transform: uppercase;
}

.capital {
  text-transform: capitalize;
}

.tertiary {
  color: #608BA6;
  transition: all 0.2s ease-in-out;
}
.tertiary:hover {
  color: #D98236;
}

/* start top bar */
.top-bar {
  background-color: #2d2d2d;
  color: whitesmoke;
  font-size: 12px;
}
.top-bar a {
  color: white;
}
.top-bar .dropdown .dropdown-toggle {
  background-color: transparent;
  border: none;
  color: white;
}
.top-bar .dropdown .dropdown-toggle:hover {
  cursor: pointer;
}
.top-bar .dropdown .dropdown-menu {
  background-color: #2d2d2d;
  top: 8px !important;
  font-size: 12px;
}

/* start navbar */
.navbar {
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.1);
  background-color: white;
}
.navbar * {
  color: #A7C6D9;
}
.navbar .navbar-toggler-icon {
  background-image: none;
  color: white;
}
.navbar a {
  transition: all 0.2s ease-in-out;
}
.navbar .nav-item:hover a {
  opacity: .9;
}
.navbar .dropdown-menu a {
  color: #A7C6D9;
}

/* end navbar */
/* start header */
.main-header:not(.home-header) {
  background-color: #A7C6D9;
  color: white;
}
.main-header:not(.home-header) h1 {
  font-size: 5em;
  margin-top: 0 !important;
}
.main-header.product-details-header .availability {
  width: 80px;
  height: 80px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  color: white;
  background-color: #F2CA99;
  font-size: 14px;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.main-header.home-header .carousel-caption {
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  right: 50%;
  left: auto !important;
  bottom: auto !important;
  background-color: white;
  color: #B2AFAF;
  padding: 3em;
}
.main-header.home-header .carousel-caption p {
  text-align: center;
}
.main-header p {
  margin: 0;
  line-height: 2;
}

/* Responsive */
@media (max-width: 767px) {
  .main-header:not(.home-header) h1 {
    font-size: 2.2em;
  }
  .main-header .lead {
    font-size: 1.1em;
  }
}
/* end header */
/* start breadcrumb */
.breadcrumb-nav .breadcrumb {
  background-color: white;
}
.breadcrumb-nav .breadcrumb .breadcrumb-item a {
  color: #A7C6D9;
}

/* end breadcrumb */
.home .products .product, .categories-page .products .product, .product-details-page .recommended-products .product, .about-us .item, .categories-page .categories .category {
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  overflow: auto;
  max-width: 350px;
  margin-top: 20px;
  height:300px ;
}

.home .products .product, .categories-page .products .product, .product-details-page .recommended-products .product, .about-us .item:not(.manager) {
  height:200px ;
  overflow-y: auto;
}
.home .products .product .image img, .categories-page .products .product .image img, .product-details-page .recommended-products .product .image img, .about-us .item .image img, .categories-page .categories .category .image img {
  width: 100%;
    height: 200px;
    object-fit: cover;

}
.products .product .image, .categories .category .image{
  overflow: hidden;
  /*height: 300px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .products .product .image img.radius-top, .categories-page .products .product .image img.radius-top, .product-details-page .recommended-products .product .image img.radius-top, .about-us .item .image img.radius-top, .categories-page .categories .category .image img.radius-top {
  border-radius: 10px 10px 0 0;
}
.home .products .product .wrapper p span, .categories-page .products .product .wrapper p span, .product-details-page .recommended-products .product .wrapper p span, .about-us .item .wrapper p span, .categories-page .categories .category .wrapper p span {
  padding: .4em .8em;
  border-radius: 7px;
  font-size: .9em;
  color: white;
}
.home .products .product .wrapper p.extra .products-number, .categories-page .products .product .wrapper p.extra .products-number, .product-details-page .recommended-products .product .wrapper p.extra .products-number, .about-us .item .wrapper p.extra .products-number, .categories-page .categories .category .wrapper p.extra .products-number,
.home .products .product .wrapper p.extra .price,
.categories-page .products .product .wrapper p.extra .price,
.product-details-page .recommended-products .product .wrapper p.extra .price,
.about-us .item .wrapper p.extra .price,
.categories-page .categories .category .wrapper p.extra .price {
  background-color: #A7C6D9;
}
.home .products .product .wrapper p.extra .discount, .categories-page .products .product .wrapper p.extra .discount, .product-details-page .recommended-products .product .wrapper p.extra .discount, .about-us .item .wrapper p.extra .discount, .categories-page .categories .category .wrapper p.extra .discount {
  background-color: #F2CA99;
}
.home .products .product .wrapper p.extra .state, .categories-page .products .product .wrapper p.extra .state, .product-details-page .recommended-products .product .wrapper p.extra .state, .about-us .item .wrapper p.extra .state, .categories-page .categories .category .wrapper p.extra .state {
  background-color: #D98236;
}
.home .products .product .wrapper p.cat span, .categories-page .products .product .wrapper p.cat span, .product-details-page .recommended-products .product .wrapper p.cat span, .about-us .item .wrapper p.cat span, .categories-page .categories .category .wrapper p.cat span {
  background-color: #608BA6;
}
.home .products .product .item-summary, .categories-page .products .product .item-summary, .product-details-page .recommended-products .product .item-summary, .about-us .item .item-summary, .categories-page .categories .category .item-summary {
  max-width: 32em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.home aside > section, .categories-page .categories-controls, .product-details-page .product-overview .info, .product-details-page .product-details .details {
  background-color: white;
  color: gray;
  border-radius: 10px;
  padding: 2em 0;
  max-width: 280px;
  margin: auto;
}
.home aside > section ul a, .categories-page .categories-controls ul a, .product-details-page .product-overview .info ul a, .product-details-page .product-details .details ul a {
  color: #B2AFAF;
}
.home aside > section.categories-list li:hover a, .categories-page .categories-list.categories-controls li:hover a, .product-details-page .product-overview .categories-list.info li:hover a, .product-details-page .product-details .categories-list.details li:hover a {
  color: #F2CA99;
}
.home aside > section.popular-tags ul, .categories-page .popular-tags.categories-controls ul, .product-details-page .product-overview .popular-tags.info ul, .product-details-page .product-details .popular-tags.details ul {
  flex-wrap: wrap;
  margin: 0;
}
.home aside > section.popular-tags ul li, .categories-page .popular-tags.categories-controls ul li, .product-details-page .product-overview .popular-tags.info ul li, .product-details-page .product-details .popular-tags.details ul li {
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.06);
  margin-right: .5em;
  flex-grow: 1;
  text-align: center;
}
.home aside > section.popular-tags ul li a, .categories-page .popular-tags.categories-controls ul li a, .product-details-page .product-overview .popular-tags.info ul li a, .product-details-page .product-details .popular-tags.details ul li a {
  background-color: white;
  padding: .5em;
  width: 100%;
}

.home .products .border-heading, .categories-page .products .border-heading, .product-details-page .recommended-products .border-heading {
  text-align: center;
  padding: .4em;
  background-color: transparent;
  border: 1px solid gray;
  color: gray;
  border-radius: 7px;
}

.category-details .input-field input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.5px 0;
}
.category-details .input-field input[type=range]:focus {
  outline: none;
}
.category-details .input-field input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
  background: #000000;
  border-radius: 4px;
  border: 0px solid #000001;
}
.category-details .input-field input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(13, 13, 13, 0.2);
  border: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
.category-details .input-field input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
.category-details .input-field input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
  background: #000000;
  border-radius: 4px;
  border: 0px solid #000001;
}
.category-details .input-field input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(13, 13, 13, 0.2);
  border: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}
.category-details .input-field input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.category-details .input-field input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000001;
  border-radius: 8px;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
}
.category-details .input-field input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000001;
  border-radius: 8px;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
}
.category-details .input-field input[type=range]::-ms-thumb {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(13, 13, 13, 0.2);
  border: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  height: 5px;
}
.category-details .input-field input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
.category-details .input-field input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}

.categories-page .categories .search-category-form .input-field input[type="text"], .categories-page .products .search-category-form .input-field input[type="text"] {
  padding: .5em;
  border: none;
  height: 35px;
  width: 100%;
  background-color: white;
  border-radius: 0 30px 30px 0;
}
.categories-page .categories .search-category-form .input-field button, .categories-page .products .search-category-form .input-field button {
  height: 35px;
  border: none;
  width: 35px;
  background-color: white;
  color: #608BA6;
  border-radius: 30px 0 0 30px;
  transition: all 0.2s ease-in-out;
}
.categories-page .categories .search-category-form .input-field button:hover, .categories-page .products .search-category-form .input-field button:hover {
  color: #A7C6D9;
  cursor: pointer;
}

/* start home */
.home aside > section .categories-list a {
  color: #B2AFAF;
}

/* end home */
/* start about us */
.about-us img {
  border-radius: 10px;
}
.about-us .anonymous-section h2 {
  color: #608BA6;
  margin-bottom: 1em;
}
.about-us .anonymous-section:not(:last-of-type) {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* end about us */
/* start categories */
.categories-page:not(.category-details) button.primary {
  width: 160px !important;
}
.categories-page .pagination a {
  color: #A7C6D9 !important;
}

/* Responsive */
@media (max-width: 330px) {
  .pagination a {
    padding: .5rem .5rem !important;
  }
}
/* end categories */
/* start category-details */
/* end category-details */
/* start product details */
.product-details-page hr {
  background-color: white;
  height: 1px !important;
}
.product-details-page .product-details .details {
  padding: 1em;
  max-width: none;
}
.product-details-page .product-details .details h3 {
  color: #608BA6;
}
.product-details-page .product-details .details h3 i {
  cursor: pointer;
}
.product-details-page .product-details .details .dropdown-wrapper {
  display: none;
}
.product-details-page .product-details .details .images-wrapper {
  flex-wrap: wrap;
}
.product-details-page .product-details .details .images-wrapper .image {
  flex-basis: 19.2%;
}
.product-details-page .product-details .details .images-wrapper .image:not(:nth-child(5n)) {
  margin-right: 1%;
}
.product-details-page .product-details .details .images-wrapper .image img {
  width: 100%;
}
.product-details-page .recommended-products button.primary {
  width: 160px !important;
}

/* end product details */
/* start contact us */
.contact-us hr {
  border-color: white;
}
.contact-us .row {
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.1);
}
.contact-us .contact-info .info {
  background-color: #A7C6D9;
  padding: 2em;
  color: white;
}
.contact-us .contact-info .info h3 {
  font-weight: 400;
}
.contact-us .contact-info .contact-form {
  padding: 2em;
}
.contact-us .contact-info .contact-form .input-field {
  width: 100%;
}
.contact-us .contact-info .contact-form .input-field label {
  width: 20%;
  display: table-cell;
  vertical-align: top;
}
.contact-us .contact-info .contact-form .input-field input, .contact-us .contact-info .contact-form .input-field textarea {
  display: table-cell;
  width: 100%;
  padding: .4em .5em;
  border: none;
  resize: none;
  border-radius: 5px;
}
.contact-us .contact-info .contact-form .input-field textarea {
  height: 200px;
}
.contact-us .contact-info .contact-form button {
  width: 100px;
  margin: 0 0 0 auto;
}
.contact-us .contact-info .contact-form button a {
  padding: .3em 0;
}

/* responsive */
@media (max-width: 576px) {
  .contact-us .contact-form .input-field label {
    width: 100%;
  }
}
/* end contact us */
/* Start Footer */
.main-footer {
  background-color: #A7C6D9;
  padding: 4em 0;
  color: white;
}
.main-footer h3 {
  position: relative;
}
.main-footer h3:after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.main-footer a {
  color: white;
  transition: all 0.2s ease-in-out;
}
.main-footer .row > div {
  margin-bottom: 0 !important;
}
.main-footer .list {
  padding: 0;
}
.main-footer .list *:not(i) {
  font-size: 14px;
}
.main-footer .list a:hover {
  opacity: 0.8;
}

/* End Footer */
/* sign up/ sign in/ logout */
.signin-section {
    background-color: white;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;


}
.member form {
  max-width:600px;
  margin: auto;
  padding: 5em 3em;
  border-radius: 10px;
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.1);
    background: white !important;
}

/************************** FAQ Page **************************/
.faq {
  background-color: white;
}
.faq .faq-categories .cat {
  color: white;
  padding: 2em;
  transition: all 0.2s ease-in-out;
  background-color: #A7C6D9;
}
.faq .faq-categories .cat.active {
  background-color: #608BA6;
}
.faq .faq-categories .cat:hover {
  opacity: .9;
}
.faq .questions-wrapper .questions {
  display: none;
}
.faq .questions-wrapper .questions .question {
  border: 3px solid #A7C6D9;
  padding: 2em;
}
.faq .questions-wrapper .questions .question .icon {
  color: #A7C6D9;
}
.faq .questions-wrapper .questions .question .q {
  font-size: 1rem;
}
.faq .questions-wrapper .questions .question .a {
  color: #B2AFAF;
}
.faq .questions-wrapper .questions.active {
  display: block;
}

/************************** privacy policy Page **************************/
.privacy-policy {
  font-size: 14px;
  color: #676565;
  line-height: 1.8;
}
.privacy-policy h2 {
  font-size: 1rem;
  color: #2d2d2d;
}

/************************** Cart Page **************************/
.cart table {
    width: 100%;
}
.cart table thead {
    background-color: #A7C6D9;
    color: white;
}
.cart table thead th {
    font-weight: normal;
    padding: 8px 16px;
}
.cart table tbody {
    background-color: white;
    font-size: 14px;
}
.cart table tbody tr td {
    padding: 32px 16px;
    border-bottom: 1px dashed #CFCFCF;
}
.cart table tbody tr td.product-info .thumbnail {
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.cart table tbody tr td.product-info .info a {
    color: #2d2d2d;
}
.cart table tbody tr td.product-info .info a:hover {
    color: #D98236;
}
.cart table tbody tr td.product-info .info .color, .cart table tbody tr td.product-info .info .size {
    color: #CFCFCF;
}
.cart table tbody tr td.product-quantity .control {
    transition: all 0.25s ease-in-out;
    color: #A7C6D9;
}
.cart table tbody tr td.product-quantity .control:hover {
    color: #D98236;
    cursor: pointer;
}
.cart table tbody tr td.product-quantity .quantity {
    text-align: center;
    width: 50px;
    height: 25px;
    border: 2px solid #A7C6D9;
    color: #CFCFCF;
    border-radius: 5px;
}
.cart table tbody tr td.product-edit .delete {
    transition: all 0.25s ease-in-out;
    color: #CFCFCF;
}
.cart table tbody tr td.product-edit .delete:hover {
    color: #D98236;
    cursor: pointer;
}
.cart .cart-controls {
    background-color: white;
    padding: 32px 16px;
}
.cart .empty-cart {
    padding: 32px;
    background-color: white;
}
.cart .empty-cart p {
    color: #B2AFAF;
}
.cart .empty-cart p a {
    color: #A7C6D9;
}

/*popup chat */
.chat {
  display: none;
  width: 250px;
  position: fixed;
  bottom: 0;
  right: 50%;
  z-index: 3;
  background-color: white;
  font-size: 14px;
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0 0;
}
.chat .chat-head {
  background: linear-gradient(45deg, #2d2d2d, #608BA6);
  color: white;
  border-radius: 10px 10px 0 0;
}
.chat .chat-head .user-info .image-wrapper {
  height: 25px;
  overflow: hidden;
  width: 25px;
  border: 2px solid white;
  border-radius: 50%;
}
.chat .chat-head .user-info .image-wrapper img {
  border-radius: 50%;
}
.chat .chat-head .close-chat {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform-origin: center;
}
.chat .chat-head .close-chat:hover {
  transform: rotate(360deg);
}
.chat .chat-room {
  height: 300px;
  overflow-y: auto;
}
.chat .chat-room .message {
  padding: .5em;
  border-radius: 10px;
}
.chat .chat-room .message time {
  font-size: 12px;
  opacity: .7;
}
.chat .chat-room .message.me {
  background-color: #A7C6D9;
}
.chat .chat-room .message.support {
  background-color: #e2ebf1;
}
.chat .message-form {
  width: 250px;
  height: 35px;
  border-top: 1px solid lightgray;
}
.chat .message-form * {
  height: 35px;
}
.chat .message-form textarea {
  width: 200px;
  resize: none;
  padding: 5px 1em;
  border: none;
}
.chat .message-form button {
  width: 50px;
  background-color: transparent;
  border: none;
}
.chat .message-form button i {
  transition: all 0.2s ease-in-out;
}
.chat .message-form button i:hover {
  color: #608BA6;
  cursor: pointer;
}
.chat .no-messages-yet {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  border-radius: 10px 10px 0 0;
}
.chat .no-messages-yet h2 {
  font-size: 20px;
}
.chat .no-messages-yet .close-chat {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  color: #A7C6D9;
}
.chat .no-messages-yet .close-dialogue {
  background-color: #ffe000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.chat .no-messages-yet .close-dialogue:hover {
  background-color: #A7C6D9;
}

.toggle-chat {
  position: fixed;
  right: 6em;
  bottom: 6em;
  z-index: 2;
}
.toggle-chat .chat-toggler {
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.3);
}
.toggle-chat .chat-toggler img {
  width: 30px;
}
.toggle-chat .chat-toggler:hover img {
  animation: pop .5s linear  2;
}

@keyframes pop {
  0%, 100% {
    transform: rotate(0deg) scale(1);
  }
  30% {
    transform: rotate(5deg) scale(1.07);
  }
  60% {
    transform: rotate(0deg) scale(1);
  }
  90% {
    transform: rotate(-5deg) scale(1.07);
  }
}
/* Responsive */
@media (min-width: 576px) {
  .chat, .toggle-chat {
    right: calc((100vw - 540px) / 2);
  }
}
@media (min-width: 768px) {
  .chat, .toggle-chat {
    right: calc((100vw - 720px) / 2);
  }
}
@media (min-width: 992px) {
  .chat, .toggle-chat {
    right: calc((100vw - 960px) / 2);
  }
}
@media (min-width: 1200px) {
  .chat, .toggle-chat {
    right: calc((100vw - 1140px) / 2);
  }
}

/*# sourceMappingURL=style.css.map */

/*CSS*/
