// sass variables
//colors
$mainColor: #A7C6D9;
$darkColor: #608BA6;
$flatBlack: #0C0C0C;
$attract: #F2CA99;
$orange: #D98236;
$gray: #B2AFAF;
$lightGray: #CFCFCF;
$lightColor: #F2F2F2;
$flatBlack: #2d2d2d;
//$gray: #9E9E9E;

//classes
%section-padding {padding: 6em 0;}

//mixins

// transitions
@mixin  transition($t, $ease) {
    transition: all $t $ease;
}

// border radius
@mixin borderRadius($r) {
    border-radius: $r;
}

// shadows
@mixin  darkShadow($opacity) {
    box-shadow: 0 0 0.7em rgba(0,0,0, $opacity);
}

//transform scale
@mixin scale($factor) {
    transform: scale($factor);
    -webkit-transform: scale($factor);
    -moz-transform: scale($factor);
    -ms-transform: scale($factor);
    -o-transform: scale($factor);
}

%border-bottom {border-bottom: 1px solid $mainColor;}

//button
%button {
    margin: auto;
    @include borderRadius(7px);
    @include transition(.25s, ease-in-out);
    padding: .5em 1em;
    cursor: pointer;
    a { display: block; padding: .5em 0; }

}

//filled button
%filledButton{
    @extend %button;
    @extend %button;
    background-color: $mainColor;
    border: 1px solid $mainColor;
    font-size: 14px;
    color: white;
    a{color: white}
    &:hover {
        background-color: $darkColor;
        border-color: $darkColor;
        a {color: white}
    }
}

//border button
%borderButton{
    @extend %button;
    background-color: transparent;
    border: none;
    a{color: $mainColor; text-decoration: underline}
    &:hover {
        a {color: $orange}
    }
}

//badge
%badge {
    padding: .25em .8em;
    @include borderRadius(7px);
    font-size: 10px;
    color: white;
}

/* start global */
body {
    background-color: whitesmoke;
    overflow-x: hidden;
    color: $flatBlack;
}
a:hover {text-decoration: none;}
*:focus {outline: none}

select {
    border-color: gray;
    border-radius: 4px;
    color: gray;
    padding: 2px;
}
/* end global */

/* my framework */
.upper {text-transform: uppercase;}
.capital {text-transform: capitalize;}
.primary {@extend %filledButton;}
.secondary {@extend %borderButton; margin-right: 12px}
.tertiary {
    color: $darkColor;
    @include transition(.2s, ease-in-out);
    border: none;
    background-color: transparent;
    &:hover {color: $orange;}
}
.badge-purple {background-color: #a72887}
/* start top bar */
.top-bar {
    background-color: $flatBlack;
    color: whitesmoke;
    font-size: 12px;
    a{color: white;}
    .dropdown {
        .dropdown-toggle {
            background-color: transparent;
            border: none;
            color: white;
            &:hover {cursor: pointer;}
        }
        .dropdown-menu {background-color: $flatBlack; top: 8px !important; font-size: 12px;}
    }
}

/* start navbar */
.navbar {
    background-color: white;
    font-size: 14px;
    img {max-width: 30px}
    * {color: $mainColor}
    .navbar-toggler-icon {
        background-image: none;
        color: white;
    }
    a {@include transition(.2s, ease-in-out)}
    .nav-item:hover {a{opacity: .9;}}
    .dropdown-menu {
        a {color: $mainColor}
    }
}
/* end navbar */

/* start header */
.main-header {
    max-height: calc(100vh - 90px);
    overflow: hidden;
    &:not(.home-header) {
        @extend %section-padding;
        background-color: $mainColor;
        color: white;
        h1 {font-size: 5em; margin-top: 0 !important;}
    }
    &.product-details-header {
        .availability {
            width: 80px;
            height: 80px;
            font-weight: bold;
            text-align: center;
            line-height: 80px;
            color: white;
            background-color: $attract;
            font-size: 14px;
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
        }
    }

    &.home-header {
        .carousel {
            max-height: calc(100vh - 90px);
            .carousel-item, .carousel-inner{max-height: calc(100vh - 90px);}
            img {
                height: auto;
                object-fit: cover;
            }
            .carousel-caption {
                top: 50%;
                transform: translateY(-50%) translateX(50%);
                right: 50%;
                left: auto !important;
                bottom: auto !important;
                background-color: white;
                color: $gray;
                padding: 3em;
                p {text-align: center;}
                button { @extend %filledButton; }
            }
        }
    }

    p {margin: 0; line-height: 2}
}

/* Responsive */
@media (max-width: 767px) {
    .main-header {
        &:not(.home-header) {
            h1 {font-size: 2.2em;}
        }
        .lead {font-size: 1.1em;}
    }
}
/* end header */

/* start breadcrumb */
.breadcrumb-nav {
    .breadcrumb {
        background-color: white;
        .breadcrumb-item {
            a {color: $mainColor}
        }
    }
}
/* end breadcrumb */

//sass
%item-with-image {
    @include darkShadow(.08);
    @include borderRadius(10px);
    background-color: white;
    overflow: hidden;
    max-width: 280px;
    height: 420px;
    h3,h4 {font-size: 16px}
    * {font-size: 14px}
    .image {
        overflow: hidden;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        span {
            position: absolute;
            @extend %badge;
            &.state {
                font-size:14px;
                &.discount {
                    background-color: #e5910adb;
                    font-size:14px;
                    right: 1em;
                    top: 1em;
                }
                &.new { transform: rotateZ(-30deg); left: 1em; top: 1em; background-color: #ff0000d9;}
                &.sold-out {
                    padding:85px 5px;
                    font-size:22px;
                    background-color: #00000091;
                    font-weight: bold;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        img{
            width: 100%;
            object-fit: cover;
            height: auto;
            &.radius-top {@include borderRadius(10px 10px 0 0);}
        }
    }
    //.item-name {font-family: fantasy;}
    .wrapper {
        p {
            span {@extend %badge;}
            &.extra {
                .products-number {background-color: $orange}
                .price {background-color: $mainColor;}
            }
            &.cat {span {background-color: $darkColor}}
        }
    }
    .item-summary {
        max-width: 32em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

%side {
    background-color: white;
    color: gray;
    border-radius: 10px;
    padding: 2em 0;
    max-width: 280px;
    margin: auto;
    ul {
        a {color: $gray}
    }
    &.categories-list {
        li {
            &:hover {a {color: $attract;}}
        }
    }
    &.popular-tags {
        ul {
            flex-wrap: wrap;
            margin: 0;
            li {
                @include darkShadow(0.06);
                margin-right: .5em;
                flex-grow: 1;
                text-align: center;
                a {background-color: white; padding: .5em; width: 100%;}
            }
        }
    }
}
%products {
    .border-heading {
        text-align: center;
        padding: .4em;
        background-color: transparent;
        border: 1px solid gray;
        color: gray;
        @include borderRadius(7px);
    }
    .product {
        @extend %item-with-image;
    }
}

%input-range {
    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        margin: 7.5px 0;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
        background: #000000;
        border-radius: 4px;
        border: 0px solid #000001;
    }
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(13, 13, 13, 0.2);
        border: 2px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7.5px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #0d0d0d;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
        background: #000000;
        border-radius: 4px;
        border: 0px solid #000001;
    }
    input[type=range]::-moz-range-thumb {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(13, 13, 13, 0.2);
        border: 2px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background: #ffffff;
        cursor: pointer;
    }
    input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: #000000;
        border: 0px solid #000001;
        border-radius: 8px;
        box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
    }
    input[type=range]::-ms-fill-upper {
        background: #000000;
        border: 0px solid #000001;
        border-radius: 8px;
        box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
    }
    input[type=range]::-ms-thumb {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(13, 13, 13, 0.2);
        border: 2px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background: #ffffff;
        cursor: pointer;
        height: 5px;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: #000000;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: #0d0d0d;
    }
}

//search form
%search {
    .input-field {
        input[type="text"] {
            padding: .5em;

            border: none;
            height: 35px;
            width: 100%;
            background-color: white;
            @include borderRadius(0 30px 30px 0);
        }
        button {
            height: 35px;
            border: none;
            width: 35px;
            background-color: white;
            color: $darkColor;
            @include borderRadius(30px 0 0 30px);
            @include transition(.2s, ease-in-out);
            &:hover {color: $mainColor; cursor: pointer;}
        }
    }
}
/* start home */
.home {
    @extend %section-padding;
    .products { @extend %products; }
    aside {
        >section {
            @extend %side;
            .categories-list {
                a {color: $gray; }
            }
        }
    }
}
/* end home */

/* start about us */
.about-us {
    img { @include borderRadius(10px)}
    .item {
        @extend %item-with-image;
    }
    .anonymous-section {
        h2 {color: $darkColor; margin-bottom: 1em}
        &:not(:last-of-type) {
            margin-bottom: 2em;
            padding-bottom: 2em;
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
    }
}
/* end about us */

/* start categories */
.categories-page {
    @extend %section-padding;
    .categories-controls { @extend %side;}
    .categories {
        .search-category-form { @extend %search }
        .category {
            @extend %item-with-image;
        }
    }
    .products { @extend %products; .search-category-form { @extend %search }}
    &:not(.category-details) {
        button {
            &.primary {width: 160px !important}
        }
    }
    .pagination {
        a {color: $mainColor !important}
    }
}

/* Responsive */
@media (max-width: 330px) {
    .pagination {
        a { padding: .5rem .5rem !important;}
    }
}
/* end categories */

/* start category-details */
.category-details {
    .input-field {
        @extend %input-range;
    }
}
/* end category-details */

/* start product details */
.product-details-page {
    @extend %section-padding;
    hr {background-color: white; height: 1px !important;}
    .product-overview {
        .info { @extend %side; }
        .image {img{@include borderRadius(10px);}}
    }
    .product-details {
        .details {
            @extend %side;
            padding: 1em;
            max-width: none;
            h3 {
                color: $darkColor;
                i {cursor: pointer;}
            }
            .dropdown-wrapper {display: none;}
            .images-wrapper {
                flex-wrap: wrap;
                .image {
                    flex-basis: 19.2%;
                    &:not(:nth-child(5n)) {margin-right: 1%;}
                    img {width: 100%;}
                }
            }
        }
    }
    .recommended-products {
        @extend %products;
        button.primary {width: 160px !important}
    }
}
/* end product details */

/* start contact us */
.contact-us {
    hr {border-color: white}
    .row {@include darkShadow(.1)}
    .contact-info {
        @extend %section-padding;
        .info {
            background-color: $mainColor;
            padding: 2em;
            color: white;
            h3 {font-weight: 400}
        }
        .contact-form {
            padding: 2em;
            .input-field {
                width: 100%;
                label {width:20%; display: table-cell; vertical-align: top}
                input,textarea {
                    display: table-cell;
                    width: 100%;
                    padding: .4em .5em;
                    border: none;
                    resize: none;
                    @include borderRadius(5px);
                }
                textarea {
                    height: 200px;
                }
            }
            button {
                @extend %filledButton;
                width: 100px;
                margin: 0 0 0 auto;
                a {padding: .3em 0;}
            }
        }
    }
}
/* responsive */
@media(max-width: 576px) {
    .contact-us {
        .contact-form {
            .input-field {
                label {width:100%;}
            }
        }
    }
}
/* end contact us */

/* Start Footer */
.main-footer {
    background-color: $mainColor;
    padding: 4em 0;
    color: white;
    h3 {
        position: relative;
        &:after {
            content:'';
            height: 1px;
            width: 100%;
            @extend %border-bottom;
            position: absolute;
            left: 0;
            bottom: -10px;
        }
    }
    a {color: white; @include transition(.2s, ease-in-out);}
    .row {&> div {margin-bottom: 0 !important;}}
    .list {
        padding: 0;
        *:not(i) { font-size: 14px;}
        a:hover {opacity: 0.8;}
    }
}
/* End Footer */

/* sign up/ sign in/ logout */
.member {
    @extend %section-padding;
    .illustration {
        @include darkShadow(.4);
        @include borderRadius(10px);
        background-color: $mainColor;
        height: 100%;
        padding: 5em 1em;
        p {
            text-align: center;
            font-size: 32px;
        }
        .gifts-wrapper {
            .gift {width: 50px}
        }
    }
    .form-wrapper {
        @include darkShadow(.1);
        padding: 5em 3em;
        @include borderRadius(10px);
        background-color: white;
        form {
            margin: auto;
            border-radius: 10px;
            flex-wrap: wrap;
            .form-group {
                flex: 0 0 45%;
                margin-bottom: 2em;
                &:last-of-type {flex-basis: 100%}
                label {
                    span {color: $mainColor}
                }
            }
            .primary-button {@extend %filledButton; color: white;}
        }
    }
    &.signin {
        .element {
            max-width:400px; margin: auto;
            &.illustration {
                position: relative;
                z-index: 2;
                margin-bottom: -10px;
            }
        }
    }
    .signin-section {
        background-color: white;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    form {
        max-width:600px;
        margin: auto;
        padding: 5em 3em;
        border-radius: 10px;
        box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.1);
        background: white !important;
    }
}
/* responsive */
@media(min-width: 1200px) {
    .member {
        &.register {
            .illustration {
                margin-right: -35px;
                z-index: 2;
                position: relative;
            }
            .form-wrapper { @include borderRadius(0 10px 10px 0); }
        }
    }
}

/************************** FAQ Page **************************/
.faq {
    @extend %section-padding;
    background-color: white;
    .faq-categories {
        .cat {
            color: white;
            padding: 2em;
            @include transition(.2s, ease-in-out);
            background-color: $mainColor;
            &.active {background-color: $darkColor;}
            &:hover {opacity: .9;}

        }
    }
    .questions-wrapper {
        .questions {
            display: none;
            .question {
                border: 3px solid $mainColor;
                padding: 2em;
                .icon {color: $mainColor;}
                .q { font-size: 1rem; }
                .a {color: $gray;}
            }
            &.active {display: block;}
        }
    }
}
/************************** privacy policy Page **************************/
.privacy-policy {
    @extend %section-padding;
    font-size: 14px;
    color: #676565;
    line-height: 1.8;
    h2{font-size: 1rem; color: $flatBlack;}
}

/************************** Cart Page **************************/
.cart {
    @extend %section-padding;
    table {
        width: 100%;
        thead {
            background-color: $mainColor;
            color: white;
            th {font-weight: normal;    padding: 8px 16px;}
        }
        tbody {
            background-color: white;
            font-size: 14px;
            tr {
                td {
                    padding: 32px 16px;
                    border-bottom: 1px dashed $lightGray;
                    &.product-info {
                        .thumbnail {
                            width: 80px;
                            height: 80px;
                            overflow: hidden;
                        }
                        .info {
                            a{color: $flatBlack; &:hover {color: $orange}}
                            .color,.size {color: $lightGray}
                        }
                    }
                    &.product-quantity {
                        .control {
                            @include transition(.25s, ease-in-out);
                            color: $mainColor;
                            &:hover {color: $orange; cursor: pointer;}
                        }
                        .quantity {
                            text-align: center;
                            width: 50px;
                            height: 25px;
                            border: 2px solid $mainColor;
                            color: $lightGray;
                            @include borderRadius(5px);
                        }
                    }
                    &.product-edit {
                        .delete {
                            @include transition(.25s, ease-in-out);
                            color: $lightGray;
                            &:hover {color: $orange; cursor: pointer;}
                        }
                    }
                }
            }
        }
    }
    .cart-controls {
        background-color: white;
        padding: 32px 16px;
    }
    .empty-cart {
        padding: 32px;
        background-color: white;
        p{color: $gray; a {color: $mainColor}}
    }
}

.overlay {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;

}

.chat {
    width: 250px;
    position: fixed;
    right: 3em;
    bottom: 0;
    z-index: 2;
    background-color: white;
    border: 1px solid lightgray;
    font-size: 14px;
    display: none;
    @include darkShadow(.05);
    @include borderRadius(10px 10px 0 0);
    .chat-room {
        height: 300px;
        overflow-y:auto;
        .message {
            padding: .5em;
            @include borderRadius(10px);
            time {font-size: 12px;opacity: .7;}
            &.me {background-color: $mainColor;}
            &.support {background-color: #e2ebf1;}
        }
    }
    .message-form {
        width: 250px;
        height: 35px;
        border-top: 1px solid lightgray;
        *{height: 35px;}
        textarea {
            width: 200px;
            resize: none;
            padding: 5px 1em;
            border: none;
        }
        button {
            width: 50px;
            background-color: transparent;
            border: none;
            i {
                @include transition(.2s, ease-in-out);
                &:hover {color: $darkColor; cursor: pointer;}
            }
        }
    }
    .no-messages-yet {
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        display: flex;
        border-radius: 10px 10px 0 0;
        h2 { font-size: 20px; }
        .close-chat {
            position: absolute;
            top: 1em;
            right: 1em;
            cursor: pointer;
            color: #A7C6D9;
        }
        .close-dialogue {
            background-color: #ffe000;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {background-color: #A7C6D9;}
        }
    }
    .toggle-chat {
        position: fixed;
        right: 6em;
        bottom: 6em;
        z-index: 2;
        .chat-toggler {
            height: 50px;
            width: 50px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.3);
            img { width: 30px; }
            &:hover {
                hover img { animation: pop .5s linear  2; }
            }
        }
    }
}

@keyframes pop {
    0%, 100% {
        transform: rotate(0deg) scale(1);
    }
    30% {
        transform: rotate(5deg) scale(1.07);
    }
    60% {
        transform: rotate(0deg) scale(1);
    }
    90% {
        transform: rotate(-5deg) scale(1.07);
    }
}
/* Responsive */
@media (min-width: 576px) {
    .chat, .toggle-chat {
        right: calc((100vw - 540px) / 2);
    }
}
@media (min-width: 768px) {
    .chat, .toggle-chat {
        right: calc((100vw - 720px) / 2);
    }
}
@media (min-width: 992px) {
    .chat, .toggle-chat {
        right: calc((100vw - 960px) / 2);
    }
}
@media (min-width: 1200px) {
    .chat, .toggle-chat {
        right: calc((100vw - 1140px) / 2);
    }
}
